
<h2>@Licenta_V0.Resources.ContactPage.Title</h2>


<address>
    @Licenta_V0.Resources.ContactPage.ContactPerson <br /> 
    Redmond, WA 98052-6399<br />
    <abbr title=@Licenta_V0.Resources.ContactPage.ContactPhone>@Licenta_V0.Resources.ContactPage.ContactPhone</abbr>

</address>


<address>
    <strong>Support:</strong>   <a href="mailto:razvan@bratianu.science">razvan@bratianu.science</a><br />  
</address>