@model IEnumerable<Licenta_V0.Models.MagazineModels >

<h2>@Licenta_V0.Resources.MagazinePage.Magazine</h2>

@foreach (var i in Model)
{
    <div>
        @Html.ActionLink(i.MagazineName, "Download", "Magazine", new { id = i.Id},null)
        @Html.Label(i.MagazineDescription)
    </div>
}

